.card-body {
    padding: 50px 50px 50px 50px;
    border-radius: 18px;
}

.watchlist_btn {
    align-content: center;
    background-color: aqua;
    margin-left: 75px;
}

#search {
    margin-left: 450px;
    padding: 25px 25px 25px 25px 
}

#login {
    margin-left: 450px;
    padding: 25px 25px 25px 25px 
}

.card-body:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(9, 131, 245, 0.6);
}

/* testing card animation from youtube
.card-body {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
.card-image {
    grid-area: image;
    /* background: url("img1.jpg"); */
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }

  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  
  }
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  } */ */
