/* .card-body {
    padding: 50px 50px 50px 50px;
    border-radius: 18px;
}

.watchlist_btn {
    align-content: center;
    background-color: aqua;
    margin-left: 75px;
}

#search {
    margin-left: 450px;
    padding: 25px 25px 25px 25px 
}

#login {
    margin-left: 450px;
    padding: 25px 25px 25px 25px 
}

.card-body:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(9, 131, 245, 0.6);
    cursor: pointer;
}

.card-img, .card-img-top {
    border-radius: 15px;
}

#project-header {
    margin-left: 43%;
} */

/* testing card animation from youtube
.card-body {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
.card-image {
    grid-area: image;
    /* background: url("img1.jpg"); */
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }

  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  
  }
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  } */

  :root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: rgb(255, 255, 255);
    background-image: url("https://c4.wallpaperflare.com/wallpaper/274/983/597/macro-paper-books-wallpaper-preview.jpg");
    background-size: cover;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

  .btn-primary {
      border-radius: 5px;
      cursor: pointer;
      margin-left: 10px;
  }

  #check1, #check2 {
      cursor: pointer;
  }
  #login {
    /* margin-left: 450px; */
    padding: 25px 25px 25px 25px 
}
#search {
    /* margin-left: 450px; */
    padding: 25px 25px 25px 25px 
}

i {
    padding-right: 15px;
}

h1 {
    color: #C2CAD0
}
::-webkit-input-placeholder {
    text-align: center;
 }

 .col-md-4:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px burlywood;/*rgba(9, 131, 245, 0.6);*/
    cursor: pointer;
}

.bg-dark {
    background-color: burlywood !important;
}

#login > h1:nth-child(1) {
    padding-bottom: 20px;
}
#search > div:nth-child(1) > h1:nth-child(1){
    padding-bottom: 20px;
}
div.col-md-4:nth-child(n) > div:nth-child(1) > div:nth-child(2):hover {
    background-color: burlywood;
    cursor: default;
}

/* div.col-md-4:nth-child > div:nth-child(1) > div:nth-child(2)

div.col-md-4:nth-child(2) > div:nth-child(1) > div:nth-child(2) */
div.col-md-4:nth-child(n):hover {
    background-color: #E7717D;
    cursor: default;
}

div.col-md-4:nth-child(n) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > button:nth-child(1){
    cursor: pointer;
}

/* div.col-md-4:nth-child(5) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > button:nth-child(1) */

.card-body:hover {
    background-color: burlywood;
}
.btn {
    margin-left: 95px !important;
}

h2.card-text {
    text-align: center;
}
div.col-md-4:nth-child(n) > div:nth-child(1) > div:nth-child(2) > h4:nth-child(1){
    text-align: center;
}

div.col-md-4:nth-child(n) > div:nth-child(1) > div:nth-child(2) > p:nth-child(2){
    text-align: center;
}
p.card-text:nth-child(n) {
    text-align: center;
}

.col-md-4 > p:nth-child(1){
    font-weight: bold;
}

.jumbotron > div:nth-child(1){
    background-color: rgba(126, 104, 90, 0.5);
}

.album {
    background-color: #AFD275 !important;
}

footer.text-muted{
    background-color: #E7717D;
}

/* div.col-md-4:nth-child(n) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3){
    margin-left: 120px !important;
} */
#delete {
    margin-left: 120px !important;
}

.credit {
  font-family: 'Lobster', cursive;
  text-align: center;
}

h1, .credit, strong {
  -webkit-animation:name 2s infinite;
}
@-webkit-keyframes name {
  0% {color: red;}
  25%{color:yellow;}
  50%{color:green;}
  75%{color:brown;}
  100% {color: red;}
}
.btn-outline-secondary{
  transition: 3s;
}

.btn-outline-secondary:hover {
  background-color: gold;
}

.fas {
  animation: updown 2s ease infinite;
}
@keyframes updown {
0% {
  transform: translateY(-100%);
}
50% {
  transform: translateY(100%);
}
100% {
  transform: translateY(-100%);
}
}